<h1>編集</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "診断へ戻る", @user, class: "bg-orange-500 text-white py-2 px-4 rounded" %> |
  <%= link_to "診断一覧へ", users_path, class: "bg-green-500 text-white py-2 px-4 rounded" %>
</div>
