<p style="color: green"><%= notice %></p>

<h1>バク転診断</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "詳細", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
