<h1 class="text-4xl font-extrabold text-black-600 p-4"><%= t('.title') %></h1>

<p class="text-orange-500"><%= link_to "新しくバク転写真を追加する", new_user_path, class: "bg-orange-500 text-white py-2 px-4 rounded mt-4" %></p>

<div id="users" class="mt-4">
  <% @users.each do |user| %>
    <div class="mb-4">
      <%= render user %>
      <p>
        <%= link_to t('.analysis'), user, class: "bg-blue-500 text-white py-2 px-4 rounded" %>
      </p>
    </div>
  <% end %>
</div>

