<h1 class="text-4xl font-extrabold text-black-600 p-4">新しく写真を登録</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to t('common.back_to_index'), users_path, class: "large-link bg-orange-500 text-white py-2 px-4 rounded" %>
</div>
