 <table id="land-table">
      <tr>
        <th>着手画像</th>
      </tr>
      <tr>
        <td>膝の伸び具合</td>
        <td id="knee-bend-land-score">-</td>
      </tr>
      <tr>
        <td>目線</td>
        <td id="eye-land-score">-</td>
      </tr>
      <tr>
        <td>肩と腰の位置</td>
        <td id="touch-land-score">-</td>
      </tr>
       <tr>
        <td>体の歪み具合</td>
        <td id="body-land-score">-</td>
      </tr>
      

    </table>  