 <table id="fly-table">
      <tr>
        <th>飛び出し画像</th>
      </tr>
      <tr>
        <td>膝の角度</td>
        <td id="knee-fly-score">-</td>
      </tr>
      <tr>
        <td>上半身の角度</td>
        <td id="body-fly-score">-</td>
      </tr>

    </table>  