<table id="first-table">
      <tr>
        <th>部位</th>
        <th>スコア(%)</th>
        <th>x座標</th>
        <th>y座標</th>
      </tr>
      <tr>
        <td>鼻</td>
        <td id="nose-score">-</td>
        <td id="nose-x">-</td>
        <td id="nose-y">-</td>
      </tr>
      <tr>
        <td>左目</td>
        <td id="left-eye-score">-</td>
        <td id="left-eye-x">-</td>
        <td id="left-eye-y">-</td>
      </tr>
      <tr>
        <td>右目</td>
        <td id="right-eye-score">-</td>
        <td id="right-eye-x">-</td>
        <td id="right-eye-y">-</td>
      </tr>
      <tr>
        <td>左耳</td>
        <td id="left-ear-score">-</td>
        <td id="left-ear-x">-</td>
        <td id="left-ear-y">-</td>
      </tr>
      <tr>
        <td>右耳</td>
        <td id="right-ear-score">-</td>
        <td id="right-ear-x">-</td>
        <td id="right-ear-y">-</td>
      </tr>
      <tr>
        <td>左肩</td>
        <td id="left-shoulder-score">-</td>
        <td id="left-shoulder-x">-</td>
        <td id="left-shoulder-y">-</td>
      </tr>
      <tr>
        <td>右肩</td>
        <td id="right-shoulder-score">-</td>
        <td id="right-shoulder-x">-</td>
        <td id="right-shoulder-y">-</td>
      </tr>
      <tr>
        <td>左肘</td>
        <td id="left-elbow-score">-</td>
        <td id="left-elbow-x">-</td>
        <td id="left-elbow-y">-</td>
      </tr>
      <tr>
        <td>右肘</td>
        <td id="right-elbow-score">-</td>
        <td id="right-elbow-x">-</td>
        <td id="right-elbow-y">-</td>
      </tr>
      <tr>
        <td>左手首</td>
        <td id="left-wrist-score">-</td>
        <td id="left-wrist-x">-</td>
        <td id="left-wrist-y">-</td>
      </tr>
      <tr>
        <td>右手首</td>
        <td id="right-wirst-score">-</td>
        <td id="right-wirst-x">-</td>
        <td id="right-wirst-y">-</td>
      </tr>
      <tr>
        <td>左腰</td>
        <td id="left-hip-score">-</td>
        <td id="left-hip-x">-</td>
        <td id="left-hip-y">-</td>
      </tr>
      <tr>
        <td>右腰</td>
        <td id="right-hip-score">-</td>
        <td id="right-hip-x">-</td>
        <td id="right-hip-y">-</td>
      </tr>
      <tr>
        <td>左膝</td>
        <td id="left-knee-score">-</td>
        <td id="left-knee-x">-</td>
        <td id="left-knee-y">-</td>
      </tr>
      <tr>
        <td>右膝</td>
        <td id="right-knee-score">-</td>
        <td id="right-knee-x">-</td>
        <td id="right-knee-y">-</td>
      </tr>
      <tr>
        <td>左足首</td>
        <td id="left-ankle-score">-</td>
        <td id="left-ankle-x">-</td>
        <td id="left-ankle-y">-</td>
      </tr>
      <tr>
        <td>右足首</td>
        <td id="right-ankle-score">-</td>
        <td id="right-ankle-x">-</td>
        <td id="right-ankle-y">-</td>
      </tr>
    </table>
