 <table id="land-table">
      <tr>
        <th>着手画像</th>
      </tr>
      <tr>
        <td>膝の角度</td>
        <td id="knee-bend-land-score">-</td>
      </tr>
      <tr>
        <td>上半身の角度</td>
        <td id="body-land-score">-</td>
      </tr>

    </table>  