
    
    <table id="stand-table">
      <tr>
        <th>立ち画像</th>
      </tr>
      <tr>
        <td>膝の曲がり具合</td>
        <td id="knee-stand-score">-</td>
      </tr>
      <tr>
        <td>上半身の角度</td>
        <td id="upper-body-stand-score">-</td>
      </tr>
      <tr>
        <td>体の歪み具合</td>
        <td id="body-stand-score">-</td>
      </tr>

    </table>  


