

    
    <table id="knee-angle-table">
      <tr>
        <th>角度</th>
      </tr>
      <tr>
        <td>膝の角度</td>
        <td id="knee-angle-score">-</td>
      </tr>
      <tr>
        <td>上半身の角度</td>
        <td id="body-angle-score">-</td>
      </tr>

    </table>  


